<!DOCTYPE html>
<html>
	<head>
		<meta name="robots" content="noindex">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<style>
		div, span, body, h1, h2, h3, td {
			font-family: 'Open Sans';
			color: #383838;
		}
		a {
			font-size: 14px;
			color: #0d69c8;
		}
		a:hover {
			color: #3d8ad9;
		}
		a:active, a:visited {
			color: #0d69c8;
		}
		* {
			padding: 0px;
			margin: 0px;
		}
		</style>
		<title>403 – Доступ запрещен</title>
	</head>
	<body>
		<br><br><br>
		<center><h2>403 – Доступ запрещен</h2><br>
		</center>
	</body>
</html>